/src
/test
/samples
.DS_Store
tslint.json
tsconfig.json
schema.json
api.config.json
yarn.lock
.prettierrc
.editorconfig
yarn-error.log
package-lock.json

**/__mocks__/**
**/__tests__/**
__typechecks__

.tmp/
